*{
    text-align: center;
    background-color: beige;
}

.Delete{
    background-color: red;
    padding:5px 5px 5px 5px;
    margin-left: 10px;
    
}
.error{
    color: red;
}
.listitems{
    color: goldenrod;
}

.AddItem{
    background-color: green;
    padding:5px 5px 5px 5px;
    margin-left: 10px;
}

.InputField{
    padding:5px 5px 5px 5px;
    
}